#calculatorBody {
  margin: 200px auto;
}

.calculatorButtons table {
  margin: auto;
}

.calculatorButtons table td {
  margin: auto;
  padding: 0px;
  width: 75px;
  height: 75px;
}

.calculatorButtons table td .btn {
  display: table;
  width: 100%;
  height: 100%;
}

.calculatorButtons table td .btn div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
